[submodule "labs-openjdk/labs-openjdk-25"]
	path = labs-openjdk/labs-openjdk-25
	url = https://github.com/graalvm/labs-openjdk.git
	branch = release/jvmci/25.0
[submodule "svm/graal"]
	path = svm/graal
	url = https://github.com/oracle/graal.git
	branch = release/graal-vm/25.0
